@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gamer';
  src: url('/fonts/Gamer.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




.gridMenu{
  @apply grid grid-cols-3 grid-rows-[80px] gap-x-2 border-b-4 border-black;
}

.gridNav{
  @apply flex flex-row-reverse justify-evenly size-full bg-slate-400 shadow-md;
}

.gridLife{
  @apply flex flex-row justify-evenly place-items-center size-full  bg-slate-400;
}

.titlePral{
  @apply place-content-center size-full text-center text-7xl font-propia border-4 border-black bg-yellow-400 hover:transition-transform duration-300 hover:scale-110;
}

.buttonNav{
@apply my-4 px-5 text-4xl font-light font-propia rounded-full border-2 border-black bg-yellow-500 shadow-md shadow-slate-700 hover:bg-yellow-200;
}

.instrucciones{
  @apply text-center font-propia text-2xl font-light bg-red-500 border-4 border-black p-1 hover:scale-110 hover:text-4xl;
}

